

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.clear{
  clear: both;
}

body {
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;

}
.logoButton{
  margin: 30px auto;
  height: 80px;
}
.main-btn-wrap{
  margin: 40px 0px
}

.formSection{
  padding:45px 0px;
}
.formBottom{
  margin-top:20px;
  border-top: 1px solid #e2e2e2;
}
#submitBtn {
  margin: 0 auto;
  display: block;
  width: 300px;
}
